footer {
  background: #6700ee;
  padding: 20px;
  text-align: center;
}

#footer-logo {
  color: #00e8ff;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 2px;
}

#copyright {
  color: #ff64cb;
  font-size: 14px;
  margin-top: -5px;
  letter-spacing: 0.5px;
}

.footer-nav {
  display: flex;
  padding: 2em;
  margin-top: -30px;
  justify-content: center;

  .list-footer {
    display: flex;

    .link-footer {
      display: block;
      padding: 1em;
      color: white;
    }
  }
}

.footer-image {
  svg {
    flex-direction: row;
    fill: white;
    padding: 0.5em 3em;
  }
}

#footer-design {
  display: none;
}

.social-footer {
  display: none;
}

#footer-logo {
  font-size: 25px;
}
