@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import "nav";
@import "hero";
@import "featured";
@import "skills";
@import "projects";
@import "hire-me";
@import "footer";

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

section {
  padding: 4em 2em;
  text-align: center;
}
